.banner__link{
    text-decoration: none;
    color: black;
    &:hover{
        color: white;
    }
}
.slider-wrapper, .slider-content{
    height: 400px;

    @media (max-width: $mobile-view) {
        h1{
            font-size: 1.3rem !important;
        }   
        p{
            font-size: 1rem !important;
        }   
    }
}
.slider-content .inner{
    @media(max-width:$mobile-view){
        top: 60%
    }
}