$mobile-view: 50rem;
$tablet-view-advanced-search: 1150px;
$mobile-view-advanced-search: 650px;

$blueish-gray: #d7ebff;
$dark-blue: #011f34;
$dark-grey: rgb(56, 56, 56);
$very-light-gray: rgb(245, 245, 245);
$pretty-green: #32b77a;
